<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="https://jakarta.ee/xml/ns/jakartaee"
	xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
	id="WebApp_ID" version="5.0">
	<display-name>Project_Web</display-name>
	<welcome-file-list>
		<welcome-file>CongViecServlet</welcome-file>
	</welcome-file-list>
	<display-name>Project_Web</display-name>
	
	<session-config>
		<tracking-mode>COOKIE</tracking-mode>
	</session-config>
	
	<servlet>
		<description></description>
		<display-name>LoginServlet</display-name>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>servlets.LoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/LoginServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>SignupServlet</display-name>
		<servlet-name>SignupServlet</servlet-name>
		<servlet-class>servlets.SignupServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SignupServlet</servlet-name>
		<url-pattern>/SignupServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>LoginGoogleServlet</display-name>
		<servlet-name>LoginGoogleServlet</servlet-name>
		<servlet-class>servlets.LoginGoogleServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginGoogleServlet</servlet-name>
		<url-pattern>/LoginGoogleServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>FacebookLoginServlet</display-name>
		<servlet-name>FacebookLoginServlet</servlet-name>
		<servlet-class>servlets.FacebookLoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FacebookLoginServlet</servlet-name>
		<url-pattern>/facebook_login</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>GoogleCalendarEventsServlet</display-name>
		<servlet-name>GoogleCalendarEventsServlet</servlet-name>
		<servlet-class>servlets.GoogleCalendarEventsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GoogleCalendarEventsServlet</servlet-name>
		<url-pattern>/GoogleCalendarEventsServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ChatGPTServlet</display-name>
		<servlet-name>ChatGPTServlet</servlet-name>
		<servlet-class>servlets.ChatGPTServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ChatGPTServlet</servlet-name>
		<url-pattern>/ChatGPTServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>GetGoogleCredentialServlet</display-name>
		<servlet-name>GetGoogleCredentialServlet</servlet-name>
		<servlet-class>servlets.GetGoogleCredentialServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetGoogleCredentialServlet</servlet-name>
		<url-pattern>/GetGoogleCredentialServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>GoogleAddEventServlet</display-name>
		<servlet-name>GoogleAddEventServlet</servlet-name>
		<servlet-class>servlets.GoogleAddEventServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GoogleAddEventServlet</servlet-name>
		<url-pattern>/GoogleAddEventServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>CongViecServlet</display-name>
		<servlet-name>CongViecServlet</servlet-name>
		<servlet-class>servlets.CongViecServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CongViecServlet</servlet-name>
		<url-pattern>/CongViecServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>DangCongViecServlet</display-name>
		<servlet-name>DangCongViecServlet</servlet-name>
		<servlet-class>servlets.DangCongViecServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DangCongViecServlet</servlet-name>
		<url-pattern>/DangCongViecServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ChiTietCongViecServlet</display-name>
		<servlet-name>ChiTietCongViecServlet</servlet-name>
		<servlet-class>servlets.ChiTietCongViecServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ChiTietCongViecServlet</servlet-name>
		<url-pattern>/ChiTietCongViecServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>QuanLyTinDangServlet</display-name>
		<servlet-name>QuanLyTinDangServlet</servlet-name>
		<servlet-class>servlets.QuanLyTinDangServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>QuanLyTinDangServlet</servlet-name>
		<url-pattern>/QuanLyTinDangServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>LoadCVServlet</display-name>
		<servlet-name>LoadCVServlet</servlet-name>
		<servlet-class>servlets.LoadCVServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoadCVServlet</servlet-name>
		<url-pattern>/LoadCVServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>SaveCVServlet</display-name>
		<servlet-name>SaveCVServlet</servlet-name>
		<servlet-class>servlets.SaveCVServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SaveCVServlet</servlet-name>
		<url-pattern>/SaveCVServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ChangePasswordServlet</display-name>
		<servlet-name>ChangePasswordServlet</servlet-name>
		<servlet-class>servlets.ChangePasswordServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ChangePasswordServlet</servlet-name>
		<url-pattern>/ChangePasswordServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>TaiKhoanCongTyServlet</display-name>
		<servlet-name>TaiKhoanCongTyServlet</servlet-name>
		<servlet-class>servlets.TaiKhoanCongTyServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TaiKhoanCongTyServlet</servlet-name>
		<url-pattern>/TaiKhoanCongTyServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>CongTyServlet</display-name>
		<servlet-name>CongTyServlet</servlet-name>
		<servlet-class>servlets.CongTyServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CongTyServlet</servlet-name>
		<url-pattern>/CongTyServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>GoogleDeleteEventServlet</display-name>
		<servlet-name>GoogleDeleteEventServlet</servlet-name>
		<servlet-class>servlets.GoogleDeleteEventServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GoogleDeleteEventServlet</servlet-name>
		<url-pattern>/GoogleDeleteEventServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>CongViecByLinhVucServlet</display-name>
		<servlet-name>CongViecByLinhVucServlet</servlet-name>
		<servlet-class>servlets.CongViecByLinhVucServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CongViecByLinhVucServlet</servlet-name>
		<url-pattern>/CongViecByLinhVucServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>TrangChuCongTyServlet</display-name>
		<servlet-name>TrangChuCongTyServlet</servlet-name>
		<servlet-class>servlets.TrangChuCongTyServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TrangChuCongTyServlet</servlet-name>
		<url-pattern>/TrangChuCongTyServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>CongViecByCongTyServlet</display-name>
		<servlet-name>CongViecByCongTyServlet</servlet-name>
		<servlet-class>servlets.CongViecByCongTyServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CongViecByCongTyServlet</servlet-name>
		<url-pattern>/CongViecByCongTyServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>QuanLyCVServlet</display-name>
		<servlet-name>QuanLyCVServlet</servlet-name>
		<servlet-class>servlets.QuanLyCVServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>QuanLyCVServlet</servlet-name>
		<url-pattern>/QuanLyCVServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>DeleteCVServlet</display-name>
		<servlet-name>DeleteCVServlet</servlet-name>
		<servlet-class>servlets.DeleteCVServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteCVServlet</servlet-name>
		<url-pattern>/DeleteCVServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>QuanLyTaiKhoanServlet</display-name>
		<servlet-name>QuanLyTaiKhoanServlet</servlet-name>
		<servlet-class>servlets.QuanLyTaiKhoanServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>QuanLyTaiKhoanServlet</servlet-name>
		<url-pattern>/QuanLyTaiKhoanServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>DieuHuongServlet</display-name>
		<servlet-name>DieuHuongServlet</servlet-name>
		<servlet-class>servlets.DieuHuongServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DieuHuongServlet</servlet-name>
		<url-pattern>/DieuHuongServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>LogoutServlet</display-name>
		<servlet-name>LogoutServlet</servlet-name>
		<servlet-class>servlets.LogoutServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LogoutServlet</servlet-name>
		<url-pattern>/LogoutServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>CongViecYeuThichServlet</display-name>
		<servlet-name>CongViecYeuThichServlet</servlet-name>
		<servlet-class>servlets.CongViecYeuThichServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CongViecYeuThichServlet</servlet-name>
		<url-pattern>/CongViecYeuThichServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>CreateCVServlet</display-name>
		<servlet-name>CreateCVServlet</servlet-name>
		<servlet-class>servlets.CreateCVServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CreateCVServlet</servlet-name>
		<url-pattern>/CreateCVServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>CongViecLienQuanServlet</display-name>
		<servlet-name>CongViecLienQuanServlet</servlet-name>
		<servlet-class>servlets.CongViecLienQuanServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CongViecLienQuanServlet</servlet-name>
		<url-pattern>/CongViecLienQuanServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>UngTuyenServlet</display-name>
		<servlet-name>UngTuyenServlet</servlet-name>
		<servlet-class>servlets.UngTuyenServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UngTuyenServlet</servlet-name>
		<url-pattern>/UngTuyenServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>HoSoUngTuyenServlet</display-name>
		<servlet-name>HoSoUngTuyenServlet</servlet-name>
		<servlet-class>servlets.HoSoUngTuyenServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>HoSoUngTuyenServlet</servlet-name>
		<url-pattern>/HoSoUngTuyenServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>CongViecDaUngTuyenServlet</display-name>
		<servlet-name>CongViecDaUngTuyenServlet</servlet-name>
		<servlet-class>servlets.CongViecDaUngTuyenServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CongViecDaUngTuyenServlet</servlet-name>
		<url-pattern>/CongViecDaUngTuyenServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>XoaHinhAnhHoatDongServlet</display-name>
		<servlet-name>XoaHinhAnhHoatDongServlet</servlet-name>
		<servlet-class>servlets.XoaHinhAnhHoatDongServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>XoaHinhAnhHoatDongServlet</servlet-name>
		<url-pattern>/XoaHinhAnhHoatDongServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>SetRoleLoginGoogleServlet</display-name>
		<servlet-name>SetRoleLoginGoogleServlet</servlet-name>
		<servlet-class>servlets.SetRoleLoginGoogleServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SetRoleLoginGoogleServlet</servlet-name>
		<url-pattern>/SetRoleLoginGoogleServlet</url-pattern>
	</servlet-mapping>
	<filter>
		<filter-name>ClickjackFilter</filter-name>
		<filter-class>org.apache.catalina.filters.HttpHeaderSecurityFilter</filter-class>
		<init-param>
			<param-name>antiClickJackingEnabled</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>
			<param-name>antiClickJackingOption</param-name>
			<param-value>DENY</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>ClickjackFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter>
		<display-name>CSRFTokenFilter</display-name>
		<filter-name>CSRFTokenFilter</filter-name>
		<filter-class>filters.CSRFTokenFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>CSRFTokenFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter>
		<display-name>ContentSecurityPolicyFilter</display-name>
		<filter-name>ContentSecurityPolicyFilter</filter-name>
		<filter-class>filters.ContentSecurityPolicyFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>ContentSecurityPolicyFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<error-page>
		<error-code>500</error-code>
		<location>/error.jsp</location>
	</error-page>
	
	<security-constraint>
	    <web-resource-collection>
	        <web-resource-name>Project_Web</web-resource-name>
	        <url-pattern>/*</url-pattern>
	    </web-resource-collection>
	
	    <user-data-constraint>
	        <transport-guarantee>CONFIDENTIAL</transport-guarantee>
	    </user-data-constraint>
	</security-constraint>
</web-app>